@font-face {
    font-family: "Plumb-black";
    src: url("../fonts/Plumb-black.eot?") format("eot"), url("../fonts/Plumb-black.woff") format("woff"), url("../fonts/Plumb-black.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Plumb-Medium";
    src: url("../fonts/Plumb-Medium.eot?") format("eot"), url("../fonts/Plumb-Medium.woff") format("woff"), url("../fonts/Plumb-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe-Bold.eot?") format("eot"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe-ExtraBold.eot?") format("eot"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe-Regular.eot?") format("eot"), url("../fonts/Circe-Regular-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circe-Light";
    src: url("../fonts/Circe-Light.eot?") format("eot"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}